.main-page {
	position: relative;
	//background-color: #000;

	&__container {
	}

	&__content {
		@include flexbox();
		justify-content: space-between;
		padding: 80px 0;
		@media(max-width: ($md3+px)) {
			flex-direction: column;
		}
	}

	&__product {
		flex: 1 1 50%;
		position: relative;
		img {
			position: absolute;
			width: 85%;
			height: 85%;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			object-fit: contain;
		}
		@media(max-width: ($md3+px)) {
			padding: 0 0 60% 0;
		}
	}

	&__description {
		flex: 1 1 50%;
		padding: 0 0 80px 30px;
		position: relative;
		@media(max-width: ($md3+px)) {
			padding: 0 0 80px 0;
		}
	}

	&__title {
		color: #d0a97e;
		font-weight: 700;
		font-size: 60px;
		line-height: 75px;
		display: inline-block;
		margin: 0 0 20px 0;
		@media(max-width: ($md3+px)) {
			text-align: center;
		}
	}

	&__list {
		margin: 30px 0;
	}

	&__item {
		color: #fff;
		font-size: 20px;
		line-height: 38px;
		position: relative;
		display: block;
		padding: 0 0 0 50px;
		margin: 0 0 25px 0;
		&::before {
			content: url('../img/check-mark.png');
			position: absolute;
			top: 0;
			left: 0;
			width: 50px;
			height: 50px;
		}
	}

	&__btn {
		position: absolute;
		bottom: 0;
		left: 50%;
		transform: translate(-50%, 0);
	}

	&__bg {
		img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
			z-index: -1;
		}
	}
	&__video {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
		z-index: -1;
	}
}

//========================

.product {
	background: -webkit-linear-gradient(180deg, rgb(20, 12, 10), rgb(115, 82, 73) 63%);
	background: -moz-linear-gradient(180deg, rgb(20, 12, 10), rgb(115, 82, 73) 63%);
	background: linear-gradient(180deg, rgb(20, 12, 10), rgb(115, 82, 73) 63%);
	padding: 50px 0 ;
	&__container {
		text-align: center;
	}

	&__row {
		@include flexbox();
		margin: 0 0 40px 0;
		@media(max-width: ($md2+px)) {
			flex-direction: column;
		}
	}

	&__column {
		flex: 1 1 33.333%;
		@include flexbox();
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		&._center {
			justify-content: center;
		}
		@media(max-width: ($md2+px)) {
			flex-direction: row;
			align-items: flex-start;
		}
		@media(max-width: 600px) {
			flex-direction: column;
		}
	}

	&__item {
		@include flexbox();
		flex-direction: column;
		padding: 20px;
		@media(max-width: ($md2+px)) {
			flex: 1 1 33.333%;
		}
		@media(max-width: ($md3+px)) {
			padding: 20px 15px;
		}
		@media(max-width: 600px) {
			flex-direction: row;
		}
	}

	&__ingredient {
		position: relative;
		padding: 0 0 45% 0;
		img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: contain;
		}	
		@media(max-width: 600px) {
			flex: 0 0 30%;
		}
	}
	&__description {

	}
	&__title {
		color: #d0a97e;
		font-weight: 500;
		font-size: 24px;
		line-height: 25px;
		text-transform: uppercase;
		margin: 20px 0;
		@media(max-width: ($md3+px)) {
			font-size: 18px;
		}
	}

	&__text {
		color: #f8f8f8;
		font-size: 18px;
		line-height: 35px;
		@media(max-width: ($md3+px)) {
			font-size: 16px;
			padding: 0 10px;
		}
	}

	&__main-product {
		position: relative;
		width: 80%;
		height: 80%;
		img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
		@media(max-width: ($md2+px)) {
			padding: 0 0 50% 0;
		}
		@media(max-width: 600px) {
			margin: 0 0 0 40px;
		}
	}


	&__btn {
	}
}

//========================
.reviews {
	padding: 60px 0;
	background: -webkit-linear-gradient(180deg, rgb(115, 82, 73) 33%, rgb(154, 130, 123) 67%, rgb(209, 202, 200));
	background: -moz-linear-gradient(180deg, rgb(115, 82, 73) 33%, rgb(154, 130, 123) 67%, rgb(209, 202, 200));
	background: linear-gradient(180deg, rgb(115, 82, 73) 33%, rgb(154, 130, 123) 67%, rgb(209, 202, 200));
	&__container {
		text-align: center;
	}

	&__slider {
		position: relative;
		padding: 0 60px 0px 0;
		@media(max-width: ($md4+px)) {
			padding: 0 40px 0px 0;
		}
	}
	&__slide {
		@include flexbox();
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
	}
	&__item {
		border: 1px solid #d0a97e;
		@include flexbox();
		align-items: center;
		padding: 20px 30px;
		margin: 20px 25px;
		background-color: #CCC0BD;
		-webkit-box-shadow: 0px 2px 19px 8px rgba(103, 79, 72, 0.35);
		-moz-box-shadow: 0px 2px 19px 8px rgba(103, 79, 72, 0.35);
		box-shadow: 0px 2px 19px 8px rgba(103, 79, 72, 0.35);
		@media(max-width: 600px) {
			flex-direction: column;
		}
		@media(max-width: ($md4+px)) {
			margin: 20px 0px;
			padding: 20px 15px;
		}
	}
}

.item-block {
	&__image {
		margin: 0 30px 0 0;
		@media(max-width: 600px) {
			margin: 0 0 20px 0;
		}
	}

	&__description {
		text-align: left;
	}

	&__text {
		font-size: 20px;
		font-weight: 500;
		line-height: 25px;
		margin: 0 0 25px 0;
		@media(max-width: ($md4+px)) {
			font-size: 16px;
		}
	}

	&__name {
		font-size: 23px;
		font-weight: 600;
		color: #edb017;
		@media(max-width: ($md4+px)) {
			font-size: 18px;
		}
	}
}

//===========================
.promo {
	position: relative;
	&__bg {
		img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
			z-index: -1;
		}
	}

	&__container {
		text-align: center;
		padding: 40px 0;
	}

	&__title {
	}

	&__content {
		@include flexbox();
		@media(max-width: ($md3+px)) {
			flex-direction: column;
		}
	}

	&__image {
		flex: 1 1 50%;
		position: relative;
		img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
		@media(max-width: ($md3+px)) {
			padding: 0 0 50% 0;
		}
	}
	&__description {
		flex: 1 1 50%;
		padding: 20px;
		text-align: left;
	}

	&__subtitle {
		color: #121212;
		font-weight: 700;
		font-size: 40px;
		margin: 0 0 20px 0;
		@media(max-width: ($md4+px)) {
			font-size: 32px;
		}
	}
	&__text {
		font-size: 18px;
		margin: 0 0 20px 0;
		line-height: 25px;
		p {
			padding: 15px 0;
		}
		span {
			font-weight: 600;
			color: #800080;
		}
		@media(max-width: ($md4+px)) {
			font-size: 16px;
			p {
				padding: 10px 0;
			}
		}
	}

	&__list {
		text-align: left;
		margin: 0 0 45px 0;
	}

	&__item {
		font-weight: 600;
		font-size: 20px;
		margin: 0 0 20px 0;
		line-height: 25px;
		position: relative;
		padding: 0 0 0 45px;
		&::before {
			content: '';
			position: absolute;
			top: 10px;
			left: 15px;
			width: 12px;
			height: 12px;
			border-radius: 50%;
			background-color: #800080;
		}
		@media(max-width: ($md4+px)) {
			font-size: 16px;
		}
	}
}

//==========================
.order-form {
	background-color: #1e1216;



	&__container {
		padding: 60px 0;
		@include flexbox();
		flex-direction: column;
		align-items: center;
	}

	&__logo {
		@include flexbox();
		align-items: center;
	}

	&__name {
		color: #fff;
		font-family: 'CalSans';
		font-size: 54px;
		@media(max-width: ($md3+px)) {
			font-size: 50px;
		}
		@media(max-width: ($md4+px)) {
			font-size: 44px;
		}
	}

	&__icon {
		@media(max-width: ($md3+px)) {
			width: 35px;
			height: 54px;
		}
		@media(max-width: ($md4+px)) {
			width: 25px;
			height: 42px;
		}
	}

	&__description {
		max-width: 50px;
		font-size: 18px;
		color: #f5f5f5;
		margin: 0px 0 0 5px;
		letter-spacing: 0.1em;
		@media(max-width: ($md3+px)) {
			font-size: 16px;
		}
		@media(max-width: ($md4+px)) {
			font-size: 14px;
		}
	}

	&__timer {
	}
	

	&__content {
		width: 100%;
		@include flexbox();
		align-items: center;
		margin: 80px 0 0 0;
		@media(max-width: ($md3+px)) {
			flex-direction: column;
		}
	}

	&__product {
		flex: 1 1 50%;
		text-align: center;
		padding: 0 20px;
		@media(max-width: ($md3+px)) {
			@include flexbox();
			width: 80%;
			justify-content: space-between;
			margin: 0 0 30px 0;
		}
		@media(max-width: 450px) {
			flex-direction: column;
		}
	}
	&__image {
		position: relative;
		padding: 0 0 60% 0;
		img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
		@media(max-width: ($md3+px)) {
			flex: 1 1 40%;
		}
	}

	&__prices {
		@include flexbox();
		justify-content: space-evenly;
		align-items: center;
		margin: 60px 0 0 0;
		@media(max-width: ($md2+px)) {
			flex-direction: column;
		}
		@media(max-width: ($md3+px)) {
			flex: 1 1 60%;
			padding: 0 20px;
			margin: 30px 0 0 0;
		}
	}

	&__old-price {
		font-size: 26px;
		font-weight: 600;
		color: #CCC0BD;
		display: inline-block;
		position: relative;
		&::after {
			content: '';
			position: absolute;
			top: 50%;
			left: 50%;
			height: 2px;
			width: 130px;
			background-color: red;
			transform: translate(-50%, -50%);
		}
		@media(max-width: ($md2+px))  {
			margin: 0 0 25px 0;
		}
		@media(max-width: ($md3+px)) {
			font-size: 22px;
		}
	}

	&__new-price {
		font-weight: 900;
		font-size: 48px;
		letter-spacing: 0.1em;
		color: #f5f5f5;
		text-shadow: 
		0 0 10px rgba(255, 255, 255, 0.7),
		0 0 11px rgba(255, 255, 255, 0.7),
		0 0 25px rgba(219, 66, 217, 0.7),
		0 0 50px rgba(219, 66, 217, 0.7),
		0 0 65px rgba(219, 66, 217, 0.7),
		;
		animation: neon 3s infinite;
		animation-timing-function: linear;
		@media(max-width: ($md3+px)) {
			font-size: 36px;
			white-space: nowrap;
		}
	}


	&__form-block {
		flex: 0 1 50%;
		background-color: #800080;
		border-radius: 15px;
		padding: 40px 50px;
		margin: 0 20px;
		@include flexbox();
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		@media(max-width: ($md2+px)) {
			padding: 30px 30px;
		}
		
	}

	&__form-title {
		font-size: 32px;
		font-weight: 600;
		text-transform: uppercase;
		color: #f5f5f5;
		margin: 0 0 30px 0;
		@media(max-width: ($md2+px)) {
			text-align: center;
		}
	}

	&__input {
		width: 100%;
		height: 72px;
		border-radius: 30px;
		padding: 0 30px;
		margin: 0 0 30px 0;
	}
}

.contacts {

	&__input {
	}

	&__button {
	}
}


.timer {
	padding: 0 15px;
	margin: 40px 0 0 0;
	@include flexbox();
	align-items: center;
	&__promo {
		color: #d0a97e;
		font-weight: 500;
		font-size: 20px;
		text-transform: uppercase;
		padding: 0 20px 0 0;
		line-height: 30px;
	}

	&__block {
		padding: 15px;
		width: 85px;
		border: 1px solid rgba(255, 255, 255, 0.2);
		background-color: #000;
		@include shadow(0px, 0px, 15px, 2px, rgba(255, 255, 255, 0.1));
		margin: 0 3px;
		text-align: center;
	}

	&__min,
	&__sec {
		color: #fff;
		font-size: 40px;
		font-weight: 500;
		display: inline-block;
		margin: 0 0 10px 0;
	}

	&__unit {
		color: #fff;
	}

	&__sec {
	}
}



@keyframes neon {
	0% {
		opacity: 1;
	}
	45% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
	55% {
		opacity: 1;
	}
	60% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
