//Подключение шрифта
@mixin font($font_name, $file_name, $weight, $style) {
	@font-face {
		font-family: $font_name;
		font-display: swap;
		src: url("../fonts/#{$file_name}.woff2") format("woff2"), url("../fonts/#{$file_name}.woff") format("woff");
		font-weight: #{$weight};
		font-style: #{$style};
	}
}

@mixin anim($time,$delay){-webkit-transition: all $time ease $delay;-moz-transition: all $time ease $delay;-ms-transition: all $time ease $delay;-o-transition: all $time ease $delay;transition: all $time ease $delay;}
@mixin flexbox() {display: -webkit-box;display: -moz-box;display: -ms-flexbox;display: -webkit-flex;display: flex;/*font-size: 0;*/}
@mixin shadow($xlength,$ylength,$blurRad, $strech, $color){-webkit-box-shadow: $xlength $ylength $blurRad $strech $color;-moz-box-shadow: $xlength $ylength $blurRad $strech $color;-ms-box-shadow: $xlength $ylength $blurRad $strech $color;-o-box-shadow: $xlength $ylength $blurRad $strech $color;box-shadow: $xlength $ylength $blurRad $strech $color;}

